In [7]:
from pyspark import SparkContext
import random
 # Step 1: Initialize SparkContext
sc = SparkContext("local", "EvenNumberFilter")

In [8]:
# Step 2: Generate 100 random integers between 1 and 1000
random_numbers = [random.randint(1, 1000) for _ in range(100)]
print("Original List:")
print(random_numbers)

Original List:
[565, 360, 844, 410, 62, 657, 654, 268, 437, 659, 155, 337, 89, 556, 473, 807, 289, 592, 583, 957, 393, 486, 743, 734, 371, 712, 950, 248, 469, 648, 144, 431, 798, 669, 670, 563, 602, 476, 988, 281, 828, 418, 250, 326, 296, 788, 191, 597, 574, 213, 106, 426, 267, 96, 883, 270, 307, 796, 565, 67, 427, 211, 441, 81, 36, 867, 217, 327, 290, 673, 548, 127, 499, 297, 916, 332, 971, 867, 942, 577, 154, 217, 118, 358, 574, 851, 171, 463, 228, 363, 320, 480, 332, 278, 588, 158, 712, 930, 434, 22]

In [9]:
# Step 3: Parallelize the list into an RDD
numbers_rdd = sc.parallelize(random_numbers)

In [10]:
# Step 4: Filter only even numbers
even_numbers_rdd = numbers_rdd.filter(lambda x: x % 2 == 0)

In [11]:
# Step 5: Collect results
even_numbers = even_numbers_rdd.collect()
print("\nEven Numbers:")
print(even_numbers)

Even Numbers:
[360, 844, 410, 62, 654, 268, 556, 592, 486, 734, 712, 950, 248, 648, 144, 798, 670, 602, 476, 988, 828, 418, 250, 326, 296, 788, 574, 106, 426, 96, 270, 796, 36, 290, 548, 916, 332, 942, 154, 118, 358, 574, 228, 320, 480, 332, 278, 588, 158, 712, 930, 434, 22]